*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open sans";
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
} 
h2 {
    color: rgb(52, 113, 141);
    font-size: 35px;
    text-align: center;
    margin: 90px;
}

header{
    font-family: "Voga";
    width: 100%;
    height: 300px;
    background: #183855;
}
header .textos-header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    transform: translateY(100%) translateX(-8%);
} 

nav .logo{
    background: #18385500;
    margin-left: 60px;
    float: left;
}
nav > .logo > img{
    object-fit: cover;
    height: 80px;
    width: 80%;
}

p {
    text-align: justify;
    margin: 10px 3% 1em; 
    font-size: 20px;
}


/* imagenes */

.galeria {
    margin-left: 90px;/*hacia los lados*/
    margin-bottom: 90px; /*hacia abajo*/
    
}
.galeria .imagen img{
    
    overflow:hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 400px;
    margin: 7px;
}
.galeria .video video{
    cursor: pointer;
    overflow:hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

/*footer*/

footer{
    background: #183855;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenido-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}
.contenido-footer{
    text-align: center;
    font-size: 29px;
}
.contenido-footer h4{
    
    color: lavender;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    padding-bottom: 6px;
    
}
.contenido-footer > div h5{
    color: lavender;
}

/*adaptacion a dispositivos moviles*/
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-introduccion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-introduccion .contenido-textos{
        width: 90%;
    }
    .imagen-acercad{
        width: 44%;
    }
}